﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div >
           
            <h1 class="page-header text-center">
                Welcome to Museums page!
                
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/museum1.jpg" class="img-responsive img-rounded" />
        </div>
        <div class="col-md-4">
            <img src="~/images/museum2.jpg" class="img-responsive img-rounded" />
        </div>
        <div class="col-md-4">
            <img src="~/images/museum3.jpg" class="img-responsive img-rounded" />
        </div>

    </div>
</div>

