@model DataMohammed.Models.Museum

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Museum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaInSqft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaInSqft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Art)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Art)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtCollectionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtCollectionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MuseumName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MuseumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>
        
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MuseumID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
