@model IEnumerable<DataMohammed.Models.Museum>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AreaInSqft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Art)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtCollectionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuseumName)
        </th>
        
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AreaInSqft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Art)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtCollectionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MuseumName)
        </td>
        
        <td>
            <a asp-action="Edit" asp-route-id="@item.MuseumID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.MuseumID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.MuseumID">Delete</a>
        </td>
    </tr>
}
</table>
